<!-- the layout will bring all the code from boilerplate.ejs, and replace the body with the code written below -->
<% layout('layouts/boilerplate') -%>

<p><%- include('../partials/flash') %></p>

<section class="d-flex flex-wrap gap-5 justify-content-center my-4">

    <% for( let product of products) { %>
        <div class="card" style="width: 18rem;">
            <div class="card">
                <img src="<%= product.img %>" class="card-img-top" alt="...">
                <span class="badge text-bg-light position-absolute" style="top:85%; left:2%"><%= product.avgRating %> &star; | <%= product.reviews.length %></span>
            </div>
            <div class="card-body">
                <h5 class="card-title d-flex justify-content-between align-items-center">
                    <span><%= product.name %></span>
                        <span class="btn">
                            <% if (currentUser && currentUser.wishList.includes(product._id)) { %>
                                <i class="fas fa-heart product-like-button" product-id="<%= product._id %>"></i>
                            <% } else { %>
                                <i class="far fa-heart product-like-button" product-id="<%= product._id %>"></i>
                            <% } %>
                        </span>
                </h5>
                <h5>$ <%= product.price %>
                </h5>
                <p class="card-text">
                    <%= product.desc %>
                </p>
                <a href="/products/<%= product._id %>" class="btn btn-primary btn-sm">Buy Now</a>
            </div>
        </div>
    <% } %>
</section>

<script src="/js/like.js"></script>