<% layout('layouts/boilerplate') -%>

<div class="row">
    <div class="col-lg-4 mx-auto mb-4">
        <div class="card" style="width: 20rem;">
            <img src="<%= product.img %>" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">
                    <%= product.name %>
                </h5>
                <h5>$ <%= product.price %>
                </h5>
                <p class="card-text">
                    <%= product.desc %>
                </p>
                <a href="#" class="btn btn-primary btn-sm">Buy Now</a>
                <a href="#" class="btn btn-success btn-sm">Add To Cart</a>
                <a href="/products/<%= product._id %>/edit" class="btn btn-info btn-sm">Edit</a>
                <form class="d-inline" action="/products/<%= product._id %>/?_method=DELETE" method="POST">
                    <button class="btn btn-danger btn-sm">Delete</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mx-auto">
        <h2>Leave Your Review</h2>
    </div>
</div>